/*iPhoneおよび共通設定*/
body {
    font-family: heisei-maru-gothic-std, a-otf-midashi-mi-ma31-pr6n, sans-serif;
}

p {
    font-size: 14px;
    font-weight: w4;
    line-height: 18px;
    color: #483E3E;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
     height: 70px;
    background-color: #fff1ac;
}

.header h1 {
    margin-left: 2.66%;
    font-size: 20px;
    font-weight: w8;
    color: #81A238;
    padding-top: 19px;
}

.header ul {
    display: flex;
    list-style-type: none;
    width: 37.33%;
    justify-content: space-between;
    margin-right: 5px;
}

.header ul li {
    margin-top: 20px;
}

.header ul a {
    color: inherit;
    text-decoration: none;
}

.TopPhoto {
    margin-bottom: 30px;
}

.TopPhoto img {
    width: 100%;
}

.header ul a:hover {
    color: red;
}


h2 {
    font-size: 17px;
    color: #6C4B4B;
    margin-bottom: 10px;
}

.contact_form {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    margin-bottom: 30px;
}

.contact_form h2 {
    grid-column: 2;
    margin-bottom: 15px;
}

form {
    grid-column: 2;
}

.contact_form .p_label {
    grid-column: 2;
    height: 25px;
    margin-bottom: 8px;
}

.contact_form span {
    display: inline-block;
    width: 20%;
}

.p_submit {
    grid-column: 2;
}

.contact_form .modoru {
    width: 80px;
    height: 20px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    grid-column: 2;
    margin: 0 0 0 auto;
}

.Page_top {
    margin: 0 auto;
}

.SNS {
    margin-bottom: 8%;
}
.SNS .SNS_Logo {
    width: 66.93%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 12px;
    border-top: 1px solid #000;
}

.SNS_Logo img {
    width: 11.73%;
}

.footer {
    background-color: #fff;
}

.footer .footer_title {
    height: 25px;
    color: #fff;
    background-color: #B4AEAE;
    padding-left: 8.0%;
    padding-top: 5px;
    margin-bottom: 20px;
}

.footer .footer_textbox {
    margin-left: 8.0%;
}

.footer .footer_textbox p {
    line-height: 1.7em; 
}

/*iPadの設定*/
@media screen and (min-width: 600px){


p {
    font-size: 16px;
    line-height: 23px;
    color: #666;
}

.header {
    margin-bottom: 3%;
}

.header h1 {
    margin-left: 2.39%;
    font-size: 30px;
    padding-top: 15px;
}

.header ul {
    width: 21.58%;
    margin-right: 2.51%;
}

.header ul li {
    margin-top: 30px;
}
    
    .contact_form {
    grid-template-columns: 1fr 3fr 1fr;
}


    
        .Page_top {
        display: none;
    }
    
.SNS .SNS_Logo {
    width: 35%;
    border: none;
}

    .SNS_Logo img {
        width: 18%;
    }
    
.footer {
    padding-bottom: 50px;
}

.footer .footer_title {
    padding-left: 4.79%;
}

.footer .footer_textbox {
    padding-left: 0;
    margin-left: 4.79%;
    display: flex;
    width: 65.94%;
    justify-content: space-between;
}

.footer .footer_text {
    width: 27.57%;
}

   
}

/*PCサイズの設定*/
@media screen and (min-width: 835px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }

}